<!doctype html>
<html class="no-js" lang="">


<!-- Mirrored from htmldemo.net/minoan-v1/minoan/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Feb 2024 13:30:20 GMT -->

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Aromatica</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- favicon
		============================================ -->
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/logo/favicon.ico">

	<!-- Google Fonts
		============================================ -->
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<!-- 
    Toastify css link
    ============================= -->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

	<!-- Bootstrap CSS
		============================================ -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<!-- Font Awesome CSS
		============================================ -->
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<!-- Mean Menu CSS
		============================================ -->
	<link rel="stylesheet" href="assets/css/meanmenu.min.css">
	<!-- owl.carousel CSS
		============================================ -->
	<link rel="stylesheet" href="assets/css/owl.carousel.css">
	<link rel="stylesheet" href="assets/css/owl.theme.css">
	<link rel="stylesheet" href="assets/css/owl.transitions.css">
	<!-- nivo-slider css
		============================================ -->
	<link rel="stylesheet" href="assets/css/nivo-slider.css">
	<!-- Price slider css
		============================================ -->
	<link rel="stylesheet" href="assets/css/jquery-ui-slider.css">
	<!-- Simple Lence css
		============================================ -->
	<link rel="stylesheet" type="text/css" href="assets/css/jquery.simpleLens.css">
	<link rel="stylesheet" type="text/css" href="assets/css/jquery.simpleGallery.css">
	<!-- animate CSS
		============================================ -->
	<link rel="stylesheet" href="assets/css/animate.css">
	<!-- normalize CSS
		============================================ -->
	<link rel="stylesheet" href="assets/css/normalize.css">
	<!-- main CSS
		============================================ -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- style CSS
		============================================ -->
	<link rel="stylesheet" href="assets/style.css">
	<!-- responsive CSS
		============================================ -->
	<link rel="stylesheet" href="assets/css/responsive.css">


	<style>
		.quantity {
			display: flex;
			align-items: center;
		}

		.quantity input {
			width: 30px;
			/* Adjust the width as needed */
			text-align: center;
			margin: 0 5px;

		}

		#confetti-container {
			background-image: url('assets/img/order-success/colorful-confetti-and-tinsel-explosion-on-a-transparent-background-multicolor-party-confetti-and-foil-paper-falling-background-festival-and-birthday-celebration-frame-elements-free-png.jpg');
			background-repeat: no-repeat;
		}
	</style>

</head>











<div class="vh-100 d-flex justify-content-center align-items-center " id="confetti-container">
	<div class="card col-8 col-md-4 bg-white shadow-md p-5">
		<div class="mb-4 text-center">
			<svg xmlns="http://www.w3.org/2000/svg" class="text-success" width="75" height="75" fill="currentColor"
				class="bi bi-check-circle" viewBox="0 0 16 16">
				<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
				<path
					d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
			</svg>
		</div>
		<div class="text-center">
			<h1>Order Placed SuccessFully !</h1>
			<a href="/" class="btn btn-outline-success">continue Shopping</a>
			<a href="/userOrderDetails?orderId=<%=orderId%>" class="btn btn-outline-success">View Orders</a>
		</div>
	</div>
</div>












<!-- Include jQuery first -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.0.1/dist/canvas-confetti.min.js"></script> -->
<script src="assets/js/file.js"></script>


<script>

	// write here....
</script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Toastify js -->
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- jQuery 1.12.4 (remove if not needed) -->
<!-- <script src="assets/js/vendor/jquery-1.12.4.min.js"></script> -->

<!-- Nivo Slider JS -->
<script src="assets/js/jquery.nivo.slider.pack.js"></script>

<!-- Mean Menu JS -->
<script src="assets/js/jquery.meanmenu.min.js"></script>

<!-- Wow JS -->
<script src="assets/js/wow.min.js"></script>

<!-- Price-slider JS -->
<script src="assets/js/jquery-price-slider.js"></script>

<!-- Modernizr JS -->
<script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>

<!-- Simple Lens JS -->
<script type="text/javascript" src="assets/js/jquery.simpleGallery.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.simpleLens.min.js"></script>

<!-- Owl.carousel JS -->
<script src="assets/js/owl.carousel.min.js"></script>

<!-- ScrollUp JS -->
<script src="assets/js/jquery.scrollUp.min.js"></script>

<!-- jQuery Collapse JS -->
<script src="assets/js/jquery.collapse.js"></script>

<!-- Plugins JS -->
<script src="assets/js/plugins.js"></script>

<!-- Main JS -->
<script src="assets/js/main.js"></script>


</body>

</html>