<!doctype html>
<html class="no-js" lang="">


<!-- Mirrored from htmldemo.net/minoan-v1/minoan/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Feb 2024 13:30:20 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Aromatica</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/logo/favicon.ico">

    <!-- Google Fonts
		============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Font Awesome CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <!-- Mean Menu CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/meanmenu.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/owl.theme.css">
    <link rel="stylesheet" href="assets/css/owl.transitions.css">
    <!-- nivo-slider css
		============================================ -->
    <link rel="stylesheet" href="assets/css/nivo-slider.css">
    <!-- Price slider css
		============================================ -->
    <link rel="stylesheet" href="assets/css/jquery-ui-slider.css">
    <!-- Simple Lence css
		============================================ -->
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.simpleLens.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.simpleGallery.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/normalize.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="assets/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- Header Area -->
    <div class="header-area home-4-header-area">
        <!-- Header top bar -->
        <div class="header-top-bar">
            <div class="container">
                <div class="header-top-inner">
                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <div class="header-top-left">
                                <div class="phone">
                                    <label>Call us:</label> (+88) 01737803547
                                </div>
                                <div class="e-mail">
                                    <label>Email:</label> admin@bootexperts.com
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div><!-- End Header Top bar -->
        <!-- Header bottom -->
        <div class="header-bottom another-home-header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-3 col-sm-12">
                        <div class="heder-bottom-left">

                            <div class="header-logo">
                                <a href="index.html"><img src="assets/img/logo/logo-2.webp" alt="logo"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-9 col-sm-12">
                        <div class="header-bottom-right">

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="main-menu-area another-home-mainmenu-area home-4-main-menu-area">

                                        <div class="main-menu d-none d-lg-block">
                                            <nav>
                                                <ul class="main-ul">
                                                    <li class="sub-menu-li"><a href="/" class="active">Home<i
                                                                class=""></i></a>
                                                    </li>


                                                    <li class="small-megamenu-li"><a href="shop.html">About us<i
                                                                class=""></i></a>
                                                    </li>

                                                    <li><a href="shop.html">Contact<i class=""></i></a>
                                                    </li>

                                                    <li class="sub-menu-li"><a href="#" class="new-arrivals">Blog<i
                                                                class=""></i></a>
                                                    </li>

                                                    <% if (locals.user) { %>
                                                        <li class="dropdown nav-item">
                                                            <a class="" data-bs-toggle="dropdown" href="#"
                                                                id="dropdownAccount" aria-expanded="false">
                                                                Account </a>
                                                            <!-- <img class="svgInject" alt="Account" src="" style="height: 25px; width: 25px; margin-top: 2px;"> -->

                                                            <div class="dropdown-menu dropdown-menu-end"
                                                                aria-labelledby="dropdownAccount">
                                                                <a class="dropdown-item" href="/profile"><i
                                                                        class="material-icons md-perm_identity"></i>
                                                                    Profile</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item text-danger" href="/logout"><i
                                                                        class="material-icons md-exit_to_app"></i>
                                                                    Logout</a>
                                                            </div>
                                                        </li>
                                                        <% } else { %>
                                                            <!-- Displayed when the user is not logged in -->
                                                            <li class="ml-25 pr-5"><a href="/login">Login</a></li>

                                                            <% } %>
                                                </ul>

                                            </nav>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Area ------------------------------------------------------------------------->







    <div class="my-account-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <div class="my-account-title">
                        <h2>Signup</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-sm-12">
                    <div class="resestered-customers customer">
                        <div class="customer-inner">
                            <div class="user-title">
                                <h2><i class="fa fa-file-text"></i>Create an Account</h2>
                            </div>
                            <div class="user-content">
                                <p>If you don't have an account with us, please sign up.</p>
                            </div>
                            <div class="account-form">
                                <form class="form-horizontal product-form" method="post" action="/signup"
                                    id="signup-form" onsubmit=" return validation()">
                                    <div class="form-group">
                                        <label for="name">Name <sup>*</sup></label>
                                        <div><span class="text-danger" id="nameError"></span></div>
                                        <input type="text" name="name" id="name" class="form-control">
                                    </div>


                                    <div class="form-group">
                                        <label for="email">Email Address <sup>*</sup></label>
                                        <div><span class="text-danger" id="emailError"></span></div>
                                        <input type="text" name="email" id="email" class="form-control">
                                    </div>


                                    <div class="form-group">
                                        <label for="mobile">Mobile Number <sup>*</sup></label>
                                        <div><span class="text-danger" id="mobileError"></span></div>
                                        <input type="number" name="mobile" id="mobile" class="form-control">
                                    </div>


                                    <div class="form-group">
                                        <label for="password">Password <sup>*</sup></label>
                                        <div><span class="text-danger" id="passwordError"></span></div>
                                        <input type="password" name="password" id="password" class="form-control">
                                    </div>


                                    <div class="form-group">
                                        <label for="confirmPassword">Confirm Password <sup>*</sup></label>
                                        <div><span class="text-danger" id="confirmPasswordError"></span></div>
                                        <input id="confirmPassword" type="password" name="confirmPassword"
                                            class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label for="confirmPassword">Do you have any referral code<sup>*</sup></label>
                                        <div><span class="text-danger" id="referralCodeError"></span></div>
                                        <input id="referral" type="text" name="referral" class="form-control">
                                    </div>

                                    <div class="chek-form">
                                        <div class="custome-checkbox">
                                            <input class="form-check-input" type="checkbox" name="checkbox"
                                                id="exampleCheckbox12" value="">
                                            <label class="form-check-label" for="exampleCheckbox12"><span>I agree to
                                                    terms &amp; Policy.</span></label>
                                        </div>
                                    </div>

                                    <% if(locals.errorMessage && locals.errorMessage.length> 0){ %>
                                        <!-- <p id="alertMessage" class="text-danger text-center"><%= locals.message %></p> -->
                                        <h6 id="alertMessage" class="text-danger text-center">
                                            <%= locals.errorMessage %>
                                        </h6>
                                        <% } %>

                                            <div class="user-bottom fix">
                                                <button class="btn" type="submit" id="togglePassword"
                                                    name="signup">Signup</button>
                                            </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <p class="text-center">Already have an account? <a href="/login" class="text-danger">Login</a></p>
                </div>
            </div>
        </div>
    </div>







    <!-- Footer area start---------------------------------------------------------------------------->

    <div class="footer-area mt-4">
        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <!-- Footer Left -->
                        <div class="footer-left">
                            <!-- Footer Logog -->
                            <div class="footer-logo">
                                <a href="index.html"><img src="assets/img/logo/logo-footer.webp" alt="logo"></a>
                            </div>
                            <div class="footer-static-content">
                                <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium
                                    lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram.</p>
                            </div>
                            <div class="footer-payment">
                                <h2>Payments</h2>
                                <ul>
                                    <li><a href="#"><img src="assets/img/logo/payment.webp" alt="payment"></a></li>
                                </ul>
                            </div>
                        </div><!-- End Footer Left -->
                    </div>
                    <div class="col-lg-8 footer-right-col">
                        <!-- Footer Right -->
                        <div class="footer-right">
                            <div class="footer-newsletter">
                                <h2>Newsletter</h2>
                                <form action="#">
                                    <input type="text" placeholder="Your Email" title="Sign up for our newsletter"
                                        required>
                                    <button type="submit">Subscribe</button>
                                </form>
                            </div>
                            <div class="information-link">
                                <div class="single-information-link">
                                    <h2>Informations</h2>
                                    <ul>
                                        <li><a href="#">Sitemap</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Your Account</a></li>
                                        <li><a href="#">Advanced Search</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </div>
                                <div class="single-information-link">
                                    <h2>other static link</h2>
                                    <ul>
                                        <li><a href="#">Product Recall</a></li>
                                        <li><a href="#">Gift Vouchers</a></li>
                                        <li><a href="#">Returns and Exchanges</a></li>
                                        <li><a href="#">Shipping Options</a></li>
                                        <li><a href="#">Help & FAQs</a></li>
                                    </ul>
                                </div>
                                <div class="single-information-link">
                                    <h2> My account </h2>
                                    <ul>
                                        <li><a href="#">My orders</a></li>
                                        <li><a href="#">My credit slips</a></li>
                                        <li><a href="#">My addresses</a></li>
                                        <li><a href="#">My personal info</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- End Footer Left -->
                    </div>
                </div>
            </div>
        </div><!-- End Footer Top -->
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <!-- Copyright -->
                <div class="copyright">
                    <p>Copyright &copy; <a href="https://hasthemes.com/">HasThemes</a> All Rights Reserved.</p>
                </div>
            </div>
        </div><!-- End Footer Bottom -->
    </div>
    <!-- End Footer area -->
    <!-- QUICKVIEW PRODUCT -->
    <div id="quickview-wrapper">
        <!-- Modal -->
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-product">
                            <div class="product-images">
                                <div class="main-image images">
                                    <img alt="product" src="assets/img/product/sp2.webp">
                                </div>
                            </div><!-- .product-images -->

                            <div class="product-info">
                                <h1>Cras neque metus</h1>
                                <div class="price-box">
                                    <p class="price"><span class="special-price"><span
                                                class="amount">$155.00</span></span></p>
                                </div>
                                <a href="single-product.html" class="see-all">See all features</a>
                                <div class="quick-add-to-cart">
                                    <form method="post" class="cart">
                                        <div class="add-to-box add-to-box2">
                                            <div class="add-to-cart">
                                                <div class="input-content">
                                                    <label for="qty">Qty:</label>
                                                    <input type="button" value="-" onclick="" class="qty-decrease">
                                                    <input type="text" name="qty" id="qty" maxlength="12" value="1"
                                                        title="Qty" class="input-text qty">
                                                    <input type="button" value="+" onclick="" class="qty-increase">
                                                </div>
                                                <button class="btn" type="button"><span>Add to cart</span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="quick-desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est
                                    tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis
                                    justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id
                                    nulla.
                                </div>
                                <div class="social-sharing">
                                    <div class="widget widget_socialsharing_widget">
                                        <h3 class="widget-title-modal">Share this product</h3>
                                        <ul class="social-icons">
                                            <li><a target="_blank" title="Facebook" href="#"
                                                    class="facebook social-icon"><i class="fa fa-facebook"></i></a></li>
                                            <li><a target="_blank" title="Twitter" href="#"
                                                    class="twitter social-icon"><i class="fa fa-twitter"></i></a></li>
                                            <li><a target="_blank" title="Pinterest" href="#"
                                                    class="pinterest social-icon"><i class="fa fa-pinterest"></i></a>
                                            </li>
                                            <li><a target="_blank" title="Google +" href="#"
                                                    class="gplus social-icon"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a target="_blank" title="LinkedIn" href="#"
                                                    class="linkedin social-icon"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .product-info -->
                        </div><!-- .modal-product -->
                    </div><!-- .modal-body -->
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div><!-- END Modal -->
    </div><!-- END QUICKVIEW PRODUCT -->
    <!--Footer end area------------------------------------------------------------------------->





    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <script>
        const alertMessage = document.getElementById("alertMessage");

        if (alertMessage) {
            setTimeout(() => {
                alertMessage.style.display = "none"
            }, 6000)
        }
        function validation() {
            console.log("1");

            const signupForm = document.getElementById("signup-form");

            let nameInput = document.getElementById("name").value.trim();
            let emailInput = document.getElementById("email").value.trim();
            let mobileInput = document.getElementById("mobile").value.trim();
            let passwordInput = document.getElementById("password").value.trim();
            let confirmPasswordInput = document.getElementById("confirmPassword").value.trim();

            let nameRegex = /^[a-zA-Z]+(?: [a-zA-Z]+)*$/;
            let emailRegex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
            let mobileRegex = /^[0-9]+$/;
            let passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;





            // validation for name
            if (nameInput === "" || nameInput === null) {

                document.getElementById("nameError").innerHTML = "Name required"
                return false;

            }
            else if (nameInput.length <= 4) {
                document.getElementById("nameError").innerHTML = "Name too short,Enter minimum 5 characters"
                return false;
            }
            else if (!nameRegex.test(nameInput)) {

                document.getElementById("nameError").innerHTML = "Please enter valid name"
                return false;

            } else {
                document.getElementById("nameError").innerHTML = ""
            }





            // validation for email
            if (emailInput === "" || emailInput === null) {

                document.getElementById("emailError").innerHTML = "Email required"
                return false;
            }
            else if (!emailRegex.test(emailInput)) {

                document.getElementById("emailError").innerHTML = "Please enter valid email addrress"
                return false;
            }
            else {
                document.getElementById("emailError").innerHTML = ""
            }




            // validation for mobile
            if (mobileInput === "" || mobileInput === null) {

                document.getElementById("mobileError").innerHTML = "Mobile number is required"
                return false;
            }
            else if (mobileInput.length <= 9) {
                document.getElementById("mobileError").innerHTML = "Enter 10 digits"
                return false;
            }
            else if (mobileInput.length > 10) {

                document.getElementById("mobileError").innerHTML = "Digits too long enter 10 digits"
                return false;
            }
            else if (!mobileRegex.test(mobileInput)) {

                document.getElementById("mobileError").innerHTML = "Invalid mobile number"
                setTimeout(() => {
                    document.getElementById("mobileError").innerHTML = "Should contain only digits"
                }, 3000);
                return false;
            }
            else {
                document.getElementById("mobileError").innerHTML = ""
            }





            // validation for password
            if (passwordInput === "" || passwordInput === null) {

                document.getElementById("passwordError").innerHTML = "Password is required"
                return false;
            }
            else if (passwordInput.length <= 7) {

                document.getElementById("passwordError").innerHTML = "Should contain minimum 8 characters"
                return false;
            }
            else if (!passwordRegex.test(passwordInput)) {

                document.getElementById("passwordError").innerHTML = "Should contain mixed characters"
                setTimeout(() => {
                    document.getElementById("passwordError").innerHTML = "Contain Upper case,Lower case,Digits and Special characters"
                }, 3000)
                return false;

            }
            else {
                document.getElementById("passwordError").innerHTML = ""
            }





            // validation for confirm password
            if (confirmPasswordInput === "" || confirmPasswordInput === null) {

                document.getElementById("confirmPasswordError").innerHTML = "Confirm password is required"
                return false;
            }
            else if (confirmPasswordInput.length <= 7) {

                document.getElementById("confirmPasswordError").innerHTML = "Should contain minimum 8 characters"
                return false;

            }
            else if (confirmPasswordInput !== passwordInput) {

                document.getElementById("confirmPasswordError").innerHTML = "Password is not matching"
                return false;
            }
            else if (!passwordRegex.test(confirmPasswordInput)) {

                document.getElementById("confirmPasswordError").innerHTML = "Should contain mixed characters"
                setTimeout(() => {
                    document.getElementById("confirmPasswordError").innerHTML = "Contain Upper case,Lower case,Digits and Special characters"
                }, 3000);
                return false;
            }
            else {
                document.getElementById("confirmPasswordError").innerHTML = ""
            }


            return true;


        }



    </script>


    <!-- jquery
    ============================================ -->
    <!-- <script src="assets/js/vendor/jquery-1.12.4.min.js"></script> -->
    <!-- bootstrap JS
    ============================================ -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- nivo slider js
    ============================================ -->
    <script src="assets/js/jquery.nivo.slider.pack.js"></script>
    <!-- Mean Menu js
    ============================================ -->
    <script src="assets/js/jquery.meanmenu.min.js"></script>
    <!-- wow JS
    ============================================ -->
    <script src="assets/js/wow.min.js"></script>
    <!-- price-slider JS
    ============================================ -->
    <script src="assets/js/jquery-price-slider.js"></script>
    <!-- Simple Lence JS
    ============================================ -->
    <script type="text/javascript" src="assets/js/jquery.simpleGallery.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.simpleLens.min.js"></script>
    <!-- owl.carousel JS
    ============================================ -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- scrollUp JS
    ============================================ -->
    <script src="assets/js/jquery.scrollUp.min.js"></script>
    <!-- jquery Collapse JS
    ============================================ -->
    <script src="assets/js/jquery.collapse.js"></script>
    <!-- plugins JS
    ============================================ -->
    <script src="assets/js/plugins.js"></script>
    <!-- main JS
    ============================================ -->
    <script src="assets/js/main.js"></script>

</body>

</html>